<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="customerAndroidAppKey" value="AAAAL2QoacM:APA91bGs_PVik_e0Bw9QnXrAKOloWuMy3AI0tyPqPyqY-9KflvvjJ5qH5kOGH_Mc5ODajRUoOc4MYOaLfZtPphBe3ZgQ3h2-qLuFPX3emItlEDTyfXPAIlHJxO6XnGQcpY9n2sZY0vra" />
    <add key="customerIosdAppKey" value="AAAAL2QoacM:APA91bGs_PVik_e0Bw9QnXrAKOloWuMy3AI0tyPqPyqY-9KflvvjJ5qH5kOGH_Mc5ODajRUoOc4MYOaLfZtPphBe3ZgQ3h2-qLuFPX3emItlEDTyfXPAIlHJxO6XnGQcpY9n2sZY0vra" />
    <!--<add key="partnerAppKey" value="AAAAaMcCZBE:APA91bEHOGTiBZnkzIk5ZYMxKauFVWV22K4c6YY0GnZiUO-KjOG7DXPtF_mTEQuvXzgIBSGyTbVkm65ijFlv0cwyQPbYyC3r1x-f1ZHLFMkYvPD1SHgP4SfSMjxDuyrru9jorT4zhBtE" />-->
    <add key="partnerAppKey" value="AAAAL2QoacM:APA91bGs_PVik_e0Bw9QnXrAKOloWuMy3AI0tyPqPyqY-9KflvvjJ5qH5kOGH_Mc5ODajRUoOc4MYOaLfZtPphBe3ZgQ3h2-qLuFPX3emItlEDTyfXPAIlHJxO6XnGQcpY9n2sZY0vra" />
    <add key="driverAppKey" value="AAAAL2QoacM:APA91bGs_PVik_e0Bw9QnXrAKOloWuMy3AI0tyPqPyqY-9KflvvjJ5qH5kOGH_Mc5ODajRUoOc4MYOaLfZtPphBe3ZgQ3h2-qLuFPX3emItlEDTyfXPAIlHJxO6XnGQcpY9n2sZY0vra" />
    <add key="partnerAdminWebAppKey" value="AAAA5eqadJA:APA91bFALNeHRDvHC04fuQEH9zftav4a8xuvNTHNyvHZaBmPEiiAae9g6TlzKSsZYj-7FYTO6KsycJ-7JrGCl0SV-Avff6Z-guJlFsuQn9OErMX4LKYAm3qYJv9zw0Fta1p4XMVorh5Z" />
    <add key="partnerIosAppKey" value="AAAAL2QoacM:APA91bGs_PVik_e0Bw9QnXrAKOloWuMy3AI0tyPqPyqY-9KflvvjJ5qH5kOGH_Mc5ODajRUoOc4MYOaLfZtPphBe3ZgQ3h2-qLuFPX3emItlEDTyfXPAIlHJxO6XnGQcpY9n2sZY0vra" />
    <add key="driverIosAppKey" value="AAAAL2QoacM:APA91bGs_PVik_e0Bw9QnXrAKOloWuMy3AI0tyPqPyqY-9KflvvjJ5qH5kOGH_Mc5ODajRUoOc4MYOaLfZtPphBe3ZgQ3h2-qLuFPX3emItlEDTyfXPAIlHJxO6XnGQcpY9n2sZY0vra" />
  </appSettings>
</configuration>